.features-table {
	width: 100%;
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 0;
	text-shadow: 0 1px 0 #fff;
	color: #2a2a2a;
	background: #fafafa;
	background-image: linear-gradient(top, #fff, #eaeaea, #fff);
}

.features-table td {
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	border-bottom: 1px solid #cdcdcd;
	box-shadow: 0 1px 0 white;
	white-space: nowrap;
	text-align: center;
}

/*Body*/
.features-table tbody td {
	text-align: center;
	font: normal 12px Verdana, Arial, Helvetica;
	width: 150px;
}

.features-table tbody td:first-child {
	width: auto;
	text-align: left;
}

.features-table td:nth-child(2),
.features-table td:nth-child(3) {
	background: #efefef;
	background: rgba(144,144,144,0.15);
	border-right: 1px solid white;
}


.features-table td:nth-child(4) {
	background: #e7f3d4;
	background: rgba(184,243,85,0.3);
}

/*Header*/
.features-table thead td {
	font: bold 1.3em 'trebuchet MS', 'Lucida Sans', Arial;
	border-radius-topright: 10px;
	border-radius-topleft: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top: 1px solid #eaeaea;
}

.features-table thead td:first-child {
	border-top: none;
}

/*Footer*/
.features-table tfoot td {
	font: bold 1.4em Georgia;
	border-radius-bottomright: 10px;
	border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom: 1px solid #dadada;
}

.features-table tfoot td:first-child {
	border-bottom: none;
}

body {
	width: 600px;
	margin: 40px auto;
	font-family: 'trebuchet MS', 'Lucida sans', Arial;
	font-size: 14px;
	color: #444;
}

table {
	*border-collapse: collapse; /* IE7 and lower */
	border-spacing: 0;
	width: 100%;
}

.bordered {
	border: solid #ccc 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
	background: #fbf8e9;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 10px;
	text-align: center;
}

.bordered th {
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	-moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered td:first-child, .bordered th:first-child {
	border-left: none;
}

.bordered th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.bordered th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.bordered th:only-child{
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}



/*----------------------*/

.zebra td, .zebra th {
	padding: 10px;
	border-bottom: 1px solid #f2f2f2;
}

.zebra tbody tr:nth-child(even) {
	background: #f5f5f5;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	-moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
}

.zebra th {
	text-align: left;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	border-bottom: 1px solid #ccc;
	background-color: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
	background-image:    -moz-linear-gradient(top, #f5f5f5, #eee);
	background-image:     -ms-linear-gradient(top, #f5f5f5, #eee);
	background-image:      -o-linear-gradient(top, #f5f5f5, #eee);
	background-image:         linear-gradient(top, #f5f5f5, #eee);
}

.zebra th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.zebra th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.zebra th:only-child{
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.zebra tfoot td {
	border-bottom: 0;
	border-top: 1px solid #fff;
	background-color: #f1f1f1;
}

.zebra tfoot td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.zebra tfoot td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}

.zebra tfoot td:only-child{
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px
}